body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.hero {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(7, 4, 63), rgb(27, 21, 143), rgb(8, 5, 59));
  color: white;
  text-align: center;
  padding: 0 32px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.content p {
  font-size: 20px;
  margin-bottom: 32px;
}

.start-button {
  width: 160px;
  padding: 20px;
  font-size: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(6, 1, 110);
  border-radius: 8px;
  cursor: pointer;
}

.start-button:hover {
  background-color: rgb(207, 207, 207);
  color: rgb(6, 1, 110);
}

.community {
  text-align: center;
  padding: 64px 32px;
  background-color: #f9f9f9;
}

.community h2 {
  font-size: 40px;
  margin-bottom: 32px;
  font-weight: bold;
}

.community-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: #f9f9f9;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}

.blue { background-color: #3f51b5; }
.pink { background-color: #e91e63; }
.green { background-color: #4caf50; }
.orange { background-color: #ff9800; }

.card p {
  font-size: 17.6px;
  color: #333;
}

.card h3 {
  font-size: 28.8px;
  color: #000;
}

.about-link {
  text-align: center;
  margin: 32px 0;
  font-size: 19.2px;
  color: #0077cc;
  cursor: pointer;
}

.about-link:hover {
  color: #005fa3;
}

.about-link .arrow {
  font-weight: bold;
  margin-left: 4.8px;
}
