.footer {
    background-color: rgb(7, 4, 63);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 1rem;
    font-family: sans-serif;
  }
  
  .footer-sec {
    margin: 1rem;
    min-width: 150px;
  }
  
  .footer-sec h2, .footer-section h3 {
    margin-bottom: 0.5rem;
  }
  
  .social-icons span {
    margin-right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    border-top: 1px solid #444;
    padding-top: 1rem;
  }
  